#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	mkdir -p debian/wheels
	pip wheel --no-cache-dir -r requirements.txt pip -w debian/wheels

override_dh_install:
	dh_install
	install -d debian/navidrome-uploader/etc/default/navidrome-uploader
	install -m 0640 .env.example debian/navidrome-uploader/etc/default/navidrome-uploader/.env

